.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    background-color: #FFE0B3;
}

.pagination{
    margin: 20px auto;
    height: 100px;
    display: flex;
    gap: 1rem;
}
.pagination button{
    width: 30px;
    height: 30px;
    border: none;
}

.selected{
    background-color: #FF9900;
    color: white;
    width: 30px;
    height: 30px;
}

.pagination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagination-container p{
    font-size: 16px;
    background-color: #FF9900;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    outline: none;
}