.cart{
    position: sticky;
    top: 0;
}

h5 {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.details{
    margin: 50px 23px;
    color: #2A414F;
}
.details p{
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 400;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.clear-btn{
    width: 90%;
    display: block;
    padding: 15px 12px;
    font-size: 18px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #FF3030;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.review-btn {
    width: 90%;
    display: block;
    padding: 15px 12px;
    font-size: 18px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #FF9900;
    border: none;
    outline: none;
    cursor: pointer;
}
.link{

    text-decoration: none;
    color: white;
    
}

